@{
    ViewBag.Title = "About";
}

<h3 style="color:black">@ViewBag.Message</h3>

<hr />

<p style="text-align:justify; color:black">
    An accident tracker is very useful for inform relations automatically when accident happen and tracking the location of vehicle at any time. Accident tracker is based on Arduino and ASP.NET. This system implemented with Global Positioning System (GPS), Global System for Mobile communication technology (GSM), Force Sensitive Resistor (FSR) and Flame sensor. FSR and flame sensor use to identify an accident, GPS module provides geographic coordinates. Then the Global system for mobile communication module transmits the geographic coordinates of vehicle and information about accident to accident tracker web application. Then web application send information about accident to owner’s predetermine relation’s phone. And also owner can find his or her vehicle through accident tracker web application or sending specific SMS to accident tracking device. And also owner can find details about accident history from the accident tracker web application. The proposed accident tracker is user friendly and ensures safety and surveillance at low maintenance cost.
</p>

<hr />