@{
    ViewBag.Title = "Contact";
}

<h3 style="color:black">@ViewBag.Message</h3>

<hr />

<ul class="nospace group btmspace-80">
    <li class="one_third first">
        <article class="service">
            <h6 class="heading" style="color:darkred">Company Details</h6>
            <p style="text-align:justify; color:black">
                <address style="color:black">
                    AccidentTracker<br />
                    542/C,<br />
                    Polpitimukalana,<br />
                    Kandana,<br />
                    Srilanka<br />
                    <span class="fa fa-phone"></span> +94 (11) 567 0623<br />
                    <span class="fa fa-envelope-o"></span> <a href="http://www.gmail.com" target="_blank">accidenttracker@gmail.com</a>
                </address>
            </p>
        </article>
    </li>
    <li class="one_third">
        <article class="service">
            <h6 class="heading" style="color:darkred">Head Office</h6>
            <figure>
                <img class="radius-10 btmspace-10" src="~/Images/Place.png" alt="">
            </figure>
            <a href="http://maps.google.com/maps?q=6.717486,80.787163" target="_blank">Head Office Location</a>
        </article>
    </li>
    <li class="one_third">
        <article class="service">
            <h6 class="heading" style="color:darkred">Branch</h6>
            <figure>
                <img class="radius-10 btmspace-10" src="~/Images/GoogleMap.png" alt="">
            </figure>
            <a href="http://maps.google.com/maps?q=6.717612,80.785866" target="_blank">Branch Location</a>
        </article>
    </li>
</ul>

<hr />