@{
    ViewBag.Title = "Home";
}


<div class="wrapper row3">
    <div id="slider" class="clear">
        <div class="flexslider basicslider">
            <ul class="slides">
                <li><a href="#"><img class="radius-10" src="~/Images/slides/01.png" alt=""></a></li>
                <li><a href="#"><img class="radius-10" src="~/Images/slides/02.png" alt=""></a></li>
                <li><a href="#"><img class="radius-10" src="~/Images/slides/03.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <ul class="nospace group btmspace-80">
            <li class="one_third first">
                <article class="service">
                    <i class="icon fa fa-ambulance"></i>
                    <h6 class="heading">@Html.ActionLink("Accident Tracker", "Login", "User")</h6>
                    <p style="text-align:justify; color:black">
                         device can identify an accident and it will inform automatically to his/her relations. This can implement on any vehicle & it is stand alone device.
                    </p>
                </article>
            </li>
            <li class="one_third">
                <article class="service">
                    <i class="icon fa fa-h-square"></i>
                    <h6 class="heading">@Html.ActionLink("Vehicle Tracker", "Login", "User")</h6>
                    <p style="text-align: justify; color: black">
                        Users can tracking each vehicle at any given time. So AccidentTracker can act as a theft prevention & retreival device.
                    </p>
                </article>
            </li>
            <li class="one_third">
                <article class="service">
                    <i class="icon fa fa-hospital-o"></i>
                    <h6 class="heading">@Html.ActionLink("Search History", "Login", "User")</h6>
                    <p style="text-align: justify; color: black">
                        Users can search their accident histories.
                    </p>
                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
        <h2 class="sectiontitle" style="color:black">Features Of AccidentTracker</h2>
        <!-- ################################################################################################ -->
        <div class="flexslider carousel basiccarousel btmspace-80">
            <ul class="slides">
                <li>
                    <figure>
                        <img class="radius-10 btmspace-10" src="~/Images/GoogleMap.png" alt="">
                        <figcaption style="color:black">Google Map</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img class="radius-10 btmspace-10" src="~/Images/ATD.jpg" alt="">
                        <figcaption style="color:black">ATD Implemented Vehicle</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img class="radius-10 btmspace-10" src="~/Images/GUI1.png" alt="">
                        <figcaption style="color:black">Web Application</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img class="radius-10 btmspace-10" src="~/Images/Components.jpg" alt="">
                        <figcaption style="color:black">Components</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img class="radius-10 btmspace-10" src="~/Images/InformAccident.png" alt="">
                        <figcaption style="color:black">Inform Accident</figcaption>
                    </figure>
                </li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
        <h2 class="sectiontitle" style="color:black">Why Use AccidentTracker</h2>
        <!-- ################################################################################################ -->
        <ul class="nospace group">
            <li class="one_half first">
                <article>
                    <img class="imgl radius-10" src="~/Images/Problem.jpg" alt="">
                    <h6 class="heading" style="color:black">Problem</h6>
                    <p style ="text-align:justify; color:black">
                        Every day millions of people are facing different types of unexpected vehicle accidents therefore they need easy and cost effective way to get recovery. Even some one feels safety due to having a phone with them, but there exists several problems regarding safety.
                    </p>
                </article>
            </li>
            <li class="one_half">
                <article>
                    <img class="imgl radius-10" src="~/Images/Solution.png" alt="">
                    <h6 class="heading" style="color:black">Solution</h6>
                    <p style="text-align:justify; color:black">
                        When a person face to an accident during a journey, Accident Tracker generates messages about the accident and sends it to his/her relations. So, the client does not need to find contact numbers and inform the authorities manually. Accident Tracker improve the efficiency, reliability and trustworthy of the recovery.
                    </p>
                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
